.home{
    width: 100%;
    height: 100vh;
}

.Page_title{
    margin: 0;
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 200;
}

.posts_div{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 8px;
}

.posts_card{
    cursor: pointer;
    width: 250px;
    height: 450px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    transition: transform 550ms ease-in-out;

    
}
.posts_card:hover{
    transform: scale(1.08);
    transition: transform 550ms ease-in-out;
}

.post{
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.post_image{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.read_more,.post_description,.post_id,.post_title{
    margin: 10px 0 0 0;
}

.read_more{
    cursor: pointer;
    color: lightblue;
}
.read_more:hover{
    color: blue;
}

.item_div{
    padding: 50px;
}

.item_image{
    border-radius: 15px;
    transition: transform 550ms ease-in-out;

}
.item_image:hover{
    transform: scale(1.08);
    transition: transform 550ms ease-in-out;
}

.userId{
    margin-top: 10px;
    font-size: 24px;
}
.body{
    margin-top: 10px;
    font-size: 24px;
}
.title_item{
    margin-bottom: 25px;
    font-weight: 400;
}

.title{
font-weight: 400;
}

